# Application Environment
NODE_ENV=development

# JWT Configuration
# generate with: openssl rand -base64 32
JWT_SECRET=replace-with-a-random-secret-at-least-32-chars-long

# Database Configuration
DATABASE_URL="postgresql+psycopg://root:123456@localhost:5432/task_manager"

# This is used by the API to allow cross-origin requests from the web app
NEXT_PUBLIC_WEB_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:3001"